*{
    margin: 0%;
    padding: 0;
    font-family: 'PT sans Serif', serif;
}
.header{
    min-height: 150vh;
    max-width:100% ;
}
nav{
    display: flex;
    padding: 1% ;
    justify-content: space-between;
    align-items: center;
}
nav img{
    padding-top: 5%;
    width: 260px;
    height: 80px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 24px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FFEDE4;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.backbtn{    
    display: inline-block;
    text-decoration: none;
    color:#5A5A5A;
    font-size:20px ;
    padding-left:10px ;
}
.backbtn:hover{
    color: black;
    transition: 1s;
}
.back img{
    width: 100%;
    padding: 0;
}
.img{
    padding-top: 25px;
}
.gug{
    padding-top: 25px;
}
